.box {
  border: solid black 1px;
  width: 40%;
  height: 680px;
  position: relative;
}
.nameCard {
  position: absolute;
  height: 80%;
  width: 49%;
  overflow-y: auto;
}
input {
  width: 50px;
  border: solid green 1px;
}

.btn-num {
  width: 98%;
  height: 25px;
  border-radius: 5px;
}

.btn-num:hover {
  background-color: skyblue;
  font-size: 130%;
  transition: font-size 0.2s;
}

.btn-num:focus {
  /* background-color:green; */
  border-color: green;
  text-decoration: none;
}

.detail-num {
  width: 49%;
  margin-left: 50%;
  position: absolute;
  height: 80%;
}

.detail-content {
  padding-top: 50%;
}

.btn-detail {
  width: 100%;
  font-size: 200%;
  border-radius: 5px;
}

.minmax {
  margin-top: 50px;
}

.btn-action {
  color: green;
  border: solid green 1px;
  border-radius: 5px;
  margin-right: 3px;
}

.btn-action:hover {
  background-color: green;
  color: black;
  transition: background-color 0.5s;
}

*:focus {
  outline: none;
}

.loader {
  color: red;
  margin-left: 400px;
  margin-top: 100px;
}

.actions {
  margin-top: 550px;
}
